.mainGrid {
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.flexRow {
    display: flex;
    flex-flow: row nowrap;
}

.flexColumn {
    display: flex;
    flex-flow: column nowrap;
}

.flexCenter {
    align-items: center;
}

.flexRowCenter {
    justify-content: center;
}

.textCenter {
    text-align: center;
}

.m0 {
    margin: 0;
}

.m1 {
    margin: 1rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.ml1 {
    margin-left: 1rem;
}

.ml2 {
    margin-left: 2rem;
}

.borderBot {
    border-bottom: solid 1px #ccc;
}

.responsiveCard {
    display: flex;
    flex-flow: column nowrap;
}

.responsiveHeader {
    grid-column: 1/3;
    grid-row: 1/2;
}

.responsiveImg {
    grid-column: 1/2;
    grid-row: 2/3;
}

.responsiveData {
    grid-column: 2/3;
    grid-row: 2/3;
}

@media (min-width: 768px) {
    .responsiveCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .responsiveInput {
        width: 600px;
    }

    .responsiveContainer {
        align-items: center;
    }
}
